<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookis - Listed Books</title>
    <link rel="shortcut icon" href="../../images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../style/dashboard.css">
</head>

<body>
    {{>updateModal}}
    <div id="main">
        {{>Dash}}
        <div class="right-section-listing">
            <h1>Listed Books</h1>
            <div class="listed-books-card-wrapper">
                {{#each listedProducts}}
                <div class="listed-book-card">
                    <div class="img-frame">
                        <img src={{this.productImage}} alt="product img">
                    </div>
                    <div class="card-content">
                        <h3 class="card-title">{{this.productTitle}}</h3>
                        <p class="category">Category : <span class="category">{{this.productCategory}}</span> </p>
                        <p class="price">Price : &#8377; <span class="price">{{this.productMRP}}</span></p>
                        <div class="btn-wrapper">
                            <button class="card-btn"
                                style="background-color: blue;  border-top-left-radius: 2em;border-bottom-left-radius: 2em;"
                                onclick="editButtonClick('{{{this._id}}}')">Edit
                                <i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="card-btn"
                                style="background-color: red; border-top-right-radius: 2em;border-bottom-right-radius: 2em;"
                                onclick="deleteButtonClick('{{{this._id}}}')">Delete
                                <i class="fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <script src="../../script//dashboard.js"></script>
    <script src="https://kit.fontawesome.com/cbd1f95b02.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>