<div class="cart-item-cards-wrapper">
    <div class="cart-item-card">
        <div class="img-frame"><img src="{{productImage}}" alt=""></div>
        <div class="card-content">
            <h2 class="title">{{productTitle}}</h2>
            <p>Category : <span id="category">{{productCategory}}</span></p>
            <p>Price : Rs. <span id="price">{{productMRP}}</span></p>
            <p>Quantity : <span id="price">{{productQuantity}}</span></p>
            <div class="btn-wrapper">
                <button class="card-btn buy-btn" onclick="buyBtnHandler('{{productId}}')">Buy</button>
                <button class=" card-btn remove-btn" onclick="handleCartRemove('{{cartItemId}}')">Remove</button>
            </div>
        </div>
    </div>
</div>