<section class="sub-sections">
    <h2 class="primary-heading">{{Heading}}
        <span><a class="primary-links" href="https://bookish-8avz.onrender.com/products?category={{category}}">Explore
                section</a></span>
    </h2>
    <div class="card-wrapper">
        {{#each EnginneringBooks}}
        <div class="cards"><img src={{this.productImage}} height="200px" onclick="func('{{this._id}}')"></div>
        {{/each}}
        {{#each MedicalBooks}}
        <div class="cards"><img src={{this.productImage}} height="200px" onclick="func('{{this._id}}')"></div>
        {{/each}}
        {{#each LawBooks}}
        <div class="cards"><img src={{this.productImage}} height="200px" onclick="func('{{this._id}}')"></div>
        {{/each}}
        {{#each NcertBooks}}
        <div class="cards"><img src={{this.productImage}} height="200px" onclick="func('{{this._id}}')"></div>
        {{/each}}
        {{#each CExamBooks}}
        <div class="cards"><img src={{this.productImage}} height="200px" onclick="func('{{this._id}}')"></div>
        {{/each}}
        {{#each OtherBooks}}
        <div class="cards"><img src={{this.productImage}} height="200px" onclick="func('{{this._id}}')"></div>
        {{/each}}

    </div>

</section>